[package]
name = "anchor-client"
version = "0.24.2"
authors = ["Serum Foundation <foundation@projectserum.com>"]
rust-version = "1.56"
edition = "2021"
license = "Apache-2.0"
description = "Rust client for Anchor programs"

[features]
debug = []

[dependencies]
anchor-lang = { path = "../lang", version = "0.24.2" }
anyhow = "1.0.32"
regex = "1.4.5"
serde = { version = "1.0.122", features = ["derive"] }
solana-client = "~1.9.13"
solana-sdk = "~1.9.13"
solana-account-decoder = "~1.9.13"
thiserror = "1.0.20"
url = "2.2.2"
