[package]
name = "anchor-spl"
version = "0.20.1"
authors = ["Serum Foundation <foundation@projectserum.com>"]
edition = "2018"
license = "Apache-2.0"
description = "CPI clients for SPL programs"

[features]
default = ["mint", "token", "associated_token"]
mint = []
token = ["spl-token"]
associated_token = ["spl-associated-token-account"]
governance = []
shmem = []
devnet = []
dex = ["serum_dex"]

[dependencies]
anchor-lang = { path = "../lang", version = "0.20.1", features = ["derive"] }
serum_dex = { git = "https://github.com/project-serum/serum-dex", rev = "1be91f2", version = "0.4.0", features = ["no-entrypoint"], optional = true }
solana-program = "1.8.5"
spl-token = { version = "3.1.1", features = ["no-entrypoint"], optional = true }
spl-associated-token-account = { version = "1.0.3", features = ["no-entrypoint"], optional = true }
