[package]
name = "anchor-spl"
version = "0.2.0"
authors = ["Serum Foundation <foundation@projectserum.com>"]
edition = "2018"
license = "Apache-2.0"
description = "CPI clients for SPL programs"

[dependencies]
anchor-lang = { path = "../lang", version = "0.2.0", features = ["derive"] }
spl-token = { version = "3.0.1", features = ["no-entrypoint"] }
