[package]
name = "anchor-spl"
version = "0.27.0"
authors = ["Serum Foundation <foundation@projectserum.com>"]
rust-version = "1.60"
edition = "2021"
license = "Apache-2.0"
description = "CPI clients for SPL programs"

[features]
default = ["mint", "token", "token_2022", "associated_token"]
mint = []
token = ["spl-token"]
token_2022 = ["spl-token-2022"]
associated_token = ["spl-associated-token-account"]
governance = []
shmem = []
stake = ["borsh"]
devnet = []
metadata = ["mpl-token-metadata"]
dex = ["serum_dex"]

[dependencies]
anchor-lang = { path = "../lang", version = "0.27.0", features = ["derive"] }
borsh = { version = "^0.9", optional = true }
serum_dex = { git = "https://github.com/openbook-dex/program/", rev = "1be91f2", version = "0.4.0", features = ["no-entrypoint"], optional = true }
solana-program = "1.14.16"
spl-token = { version = "3.5.0", features = ["no-entrypoint"], optional = true }
spl-token-2022 = { version = "0.5.0", features = ["no-entrypoint"], optional = true }
spl-associated-token-account = { version = "1.1.1", features = ["no-entrypoint"], optional = true }
mpl-token-metadata = { version = "^1.9.0", optional = true, features = ["no-entrypoint"] }

# TODO: Remove after updating to latest version of platform-tools.
# Latest solana version(1.14.17) as of 2023-05-01 comes with rustc 1.62.0-dev but MSRV for latest
# version of this crate is 1.64.0. See https://github.com/solana-labs/solana/pull/31418
winnow = "=0.4.1"
