[package]
name = "anchor-lang"
version = "0.4.5"
authors = ["Serum Foundation <foundation@projectserum.com>"]
repository = "https://github.com/project-serum/anchor"
edition = "2018"
license = "Apache-2.0"
description = "Solana Sealevel eDSL"

[features]
derive = []
default = []

[dependencies]
anchor-attribute-access-control = { path = "./attribute/access-control", version = "0.4.5" }
anchor-attribute-account = { path = "./attribute/account", version = "0.4.5" }
anchor-attribute-error = { path = "./attribute/error", version = "0.4.5" }
anchor-attribute-program = { path = "./attribute/program", version = "0.4.5" }
anchor-attribute-state = { path = "./attribute/state", version = "0.4.5" }
anchor-attribute-interface = { path = "./attribute/interface", version = "0.4.5" }
anchor-attribute-event = { path = "./attribute/event", version = "0.4.5" }
anchor-derive-accounts = { path = "./derive/accounts", version = "0.4.5" }
base64 = "0.13.0"
borsh = "0.8.2"
bytemuck = "1.4.0"
solana-program = "1.6.6"
thiserror = "1.0.20"
