[package]
name = "anchor-lang"
version = "0.25.0"
authors = ["Serum Foundation <foundation@projectserum.com>"]
repository = "https://github.com/coral-xyz/anchor"
rust-version = "1.56"
edition = "2021"
license = "Apache-2.0"
description = "Solana Sealevel eDSL"

[features]
init-if-needed = ["anchor-derive-accounts/init-if-needed"]
derive = []
default = []
anchor-debug = [
    "anchor-attribute-access-control/anchor-debug",
    "anchor-attribute-account/anchor-debug",
    "anchor-attribute-constant/anchor-debug",
    "anchor-attribute-error/anchor-debug",
    "anchor-attribute-event/anchor-debug",
    "anchor-attribute-interface/anchor-debug",
    "anchor-attribute-program/anchor-debug",
    "anchor-attribute-program/anchor-debug",
    "anchor-attribute-state/anchor-debug",
    "anchor-derive-accounts/anchor-debug"
]

[dependencies]
anchor-attribute-access-control = { path = "./attribute/access-control", version = "0.25.0" }
anchor-attribute-account = { path = "./attribute/account", version = "0.25.0" }
anchor-attribute-constant = { path = "./attribute/constant", version = "0.25.0" }
anchor-attribute-error = { path = "./attribute/error", version = "0.25.0" }
anchor-attribute-program = { path = "./attribute/program", version = "0.25.0" }
anchor-attribute-state = { path = "./attribute/state", version = "0.25.0" }
anchor-attribute-interface = { path = "./attribute/interface", version = "0.25.0" }
anchor-attribute-event = { path = "./attribute/event", version = "0.25.0" }
anchor-derive-accounts = { path = "./derive/accounts", version = "0.25.0" }
arrayref = "0.3.6"
base64 = "0.13.0"
borsh = "0.9"
bytemuck = "1.4.0"
solana-program = "~1.10.29"
thiserror = "1.0.20"
bincode = "1.3.3"
