[package]
name = "anchor-lang"
version = "0.0.0-alpha.0"
authors = ["Serum Foundation <foundation@projectserum.com>"]
repository = "https://github.com/project-serum/anchor"
edition = "2018"
license = "Apache-2.0"
description = "Solana Sealevel eDSL"

[features]
derive = []
default = []

[dependencies]
anchor-attribute-access-control = { path = "./attribute/access-control", version = "0.0.0-alpha.0" }
anchor-attribute-account = { path = "./attribute/account", version = "0.0.0-alpha.0" }
anchor-attribute-error = { path = "./attribute/error" }
anchor-attribute-program = { path = "./attribute/program", version = "0.0.0-alpha.0" }
anchor-attribute-state = { path = "./attribute/state", version = "0.0.0-alpha.0" }
anchor-derive-accounts = { path = "./derive/accounts", version = "0.0.0-alpha.0" }
serum-borsh = { version = "0.8.0-serum.1", features = ["serum-program"] }
solana-program = "=1.5.0"
thiserror = "1.0.20"