name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: Reusable
    uses: ./.github/workflows/reusable-tests.yaml
    with:
      cache: true
      solana_cli_version: 1.14.16
      node_version: 17.0.1
      cargo_profile: debug
      anchor_binary_name: anchor-binary
